# 0.0. Imports

In [44]:
import pandas as pd
import numpy  as np
import pickle
#from sklearn import model_selection as ms
from sklearn.model_selection import train_test_split
from sklearn.linear_model    import ElasticNet
from sklearn.metrics         import mean_squared_error, mean_absolute_error, r2_score

# 0.1. Loading Data

In [12]:
csv_url = 'dataset/winequality-red.csv';
df_raw = pd.read_csv( csv_url, sep=';' )
df_raw.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [7]:
df_raw['quality'].drop_duplicates().sort_values()

459    3
18     4
0      5
3      6
7      7
267    8
Name: quality, dtype: int64

# 1.0. Data Preparation

In [8]:
df1 = df_raw.copy()

In [17]:
train, test = train_test_split( df1 ) # 75% train e 25% test

In [24]:
train.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
566,8.7,0.70,0.24,2.5,0.226,5.0,15.0,0.99910,3.32,0.60,9.0,6
1209,6.2,0.39,0.43,2.0,0.071,14.0,24.0,0.99428,3.45,0.87,11.2,7
1066,6.6,0.52,0.08,2.4,0.070,13.0,26.0,0.99358,3.40,0.72,12.5,7
1085,6.8,0.48,0.08,1.8,0.074,40.0,64.0,0.99529,3.12,0.49,9.6,5
338,12.4,0.49,0.58,3.0,0.103,28.0,99.0,1.00080,3.16,1.00,11.5,6

In [25]:
test.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
893,7.2,0.66,0.03,2.3,0.078,16.0,86.0,0.99743,3.53,0.57,9.7,5
1119,5.6,0.66,0.00,2.5,0.066,7.0,15.0,0.99256,3.52,0.58,12.9,5
91,8.6,0.49,0.28,1.9,0.110,20.0,136.0,0.99720,2.93,1.95,9.9,6
603,13.2,0.46,0.52,2.2,0.071,12.0,35.0,1.00060,3.10,0.56,9.0,6
1235,6.0,0.33,0.32,12.9,0.054,6.0,113.0,0.99572,3.30,0.56,11.5,4

In [27]:
# train and test dataset
x_train = train.drop( 'quality', axis=1 )
y_train = train['quality']

x_test = test.drop( 'quality', axis=1 )
y_test = test['quality']

In [28]:
x_train.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
566,8.7,0.70,0.24,2.5,0.226,5.0,15.0,0.99910,3.32,0.60,9.0
1209,6.2,0.39,0.43,2.0,0.071,14.0,24.0,0.99428,3.45,0.87,11.2
1066,6.6,0.52,0.08,2.4,0.070,13.0,26.0,0.99358,3.40,0.72,12.5
1085,6.8,0.48,0.08,1.8,0.074,40.0,64.0,0.99529,3.12,0.49,9.6
338,12.4,0.49,0.58,3.0,0.103,28.0,99.0,1.00080,3.16,1.00,11.5

In [29]:
y_train.head()

566     6
1209    7
1066    7
1085    5
338     6
Name: quality, dtype: int64

In [30]:
x_test.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
893,7.2,0.66,0.03,2.3,0.078,16.0,86.0,0.99743,3.53,0.57,9.7
1119,5.6,0.66,0.00,2.5,0.066,7.0,15.0,0.99256,3.52,0.58,12.9
91,8.6,0.49,0.28,1.9,0.110,20.0,136.0,0.99720,2.93,1.95,9.9
603,13.2,0.46,0.52,2.2,0.071,12.0,35.0,1.00060,3.10,0.56,9.0
1235,6.0,0.33,0.32,12.9,0.054,6.0,113.0,0.99572,3.30,0.56,11.5

In [31]:
y_test.head()

893     5
1119    5
91      6
603     6
1235    4
Name: quality, dtype: int64

# 2.0. ML Modelling

In [34]:
# model definition
model = ElasticNet( alpha=0.5, l1_ratio=0.5, random_state=42)

In [35]:
# training
model.fit( x_train, y_train )

ElasticNet(alpha=0.5, random_state=42)

In [36]:
# prediction
pred = model.predict( x_test )

In [37]:
pred

array([5.35577991, 5.98839395, 5.13120336, 5.53791371, 5.3258278 ,
       5.84305307, 5.61640723, 5.60154919, 5.5763848 , 5.87817497,
       5.77174017, 5.69282885, 5.8548924 , 5.75304837, 5.55849287,
       5.53676281, 5.91548349, 5.68835878, 5.6646195 , 5.42742548,
       5.84977319, 5.31121394, 5.68705715, 5.67067546, 5.50636683,
       5.65240029, 5.47780819, 5.7117832 , 5.58933829, 5.66329119,
       5.71147226, 5.94706872, 5.60995083, 5.56417725, 5.80194534,
       5.87520566, 5.41749801, 5.73885331, 5.77746347, 5.92503938,
       5.72067158, 5.63480763, 5.69791467, 5.61990002, 5.770176  ,
       5.63771017, 5.27797605, 5.57704896, 5.53032361, 5.77438017,
       5.56674713, 5.64526354, 5.29862533, 5.61971591, 5.50660604,
       5.64202281, 5.69847315, 5.97616468, 5.563908  , 5.63479262,
       5.60415581, 5.62413423, 5.45914642, 5.58456063, 5.70775148,
       5.49830674, 5.73660326, 5.72639488, 5.55618554, 5.62635424,
       5.83106302, 5.72166227, 5.85553818, 5.28282105, 5.86738086,
       5.77197604, 5.70882059, 5.52792283, 5.58434314, 5.44495471,
       5.7083856 , 5.70353229, 5.63277173, 5.73086495, 5.58632729,
       5.86681904, 5.42325653, 5.86663492, 5.91309438, 5.63459349,
       5.65668289, 5.47629855, 5.67926792, 5.64728108, 5.72258066,
       5.64841026, 5.59701906, 5.93706282, 5.51177365, 5.62194089,
       5.82420719, 5.82500706, 5.06342712, 5.55662053, 5.66304366,
       5.69571302, 5.57076719, 5.69372552, 5.88752837, 5.33448149,
       5.63370848, 5.6685795 , 5.36018321, 5.64990271, 5.85125893,
       5.29037442, 5.84215305, 5.61065508, 5.28138035, 5.70081051,
       5.71268657, 5.95073222, 5.35137661, 5.22154073, 5.79839366,
       5.87817497, 5.81817295, 5.56671039, 5.7897044 , 5.72571571,
       5.50885609, 5.50636683, 5.50530324, 5.79170693, 5.5567596 ,
       5.42858804, 5.66077525, 5.62189919, 5.47885341, 5.55259216,
       5.65323689, 5.75966163, 5.34443899, 5.47345329, 5.7757302 ,
       5.65920437, 5.58794321, 5.61591335, 5.65355119, 5.89146665,
       5.51814609, 5.5734706 , 5.54370043, 5.29389885, 5.66238782,
       5.9192827 , 5.62483512, 5.85842906, 5.95308124, 5.66010439,
       5.35262649, 5.63605198, 6.01749662, 5.19894068, 5.75421093,
       5.51484529, 5.60635075, 5.62413423, 5.7743618 , 5.50997361,
       5.57477223, 5.7429034 , 5.1908405 , 5.62478336, 5.87152162,
       5.50007004, 5.84949228, 5.93195863, 5.92113114, 5.78055625,
       5.53347703, 5.67072939, 5.61115902, 5.75480001, 5.33621812,
       5.96017629, 5.60396834, 5.71881148, 5.70638643, 5.69659803,
       5.55875877, 5.60256991, 5.70549808, 5.65237026, 5.53676281,
       5.80059531, 5.7083856 , 5.48276165, 5.59107827, 5.13578524,
       5.43167469, 5.80126282, 5.77149264, 5.64369602, 5.98235636,
       5.62680425, 5.56079132, 5.64943433, 5.52142021, 5.57590476,
       5.44580634, 5.78823032, 5.493746  , 5.4422997 , 5.58151785,
       5.87820835, 5.70349891, 5.07074797, 5.61304419, 5.68705715,
       5.74859667, 5.58950739, 5.70911317, 5.66238782, 5.6056382 ,
       5.60413744, 5.73086495, 5.84684062, 5.80967947, 5.86905407,
       5.6774106 , 5.35055502, 5.57076719, 5.72281317, 5.68184728,
       5.61591335, 5.53347703, 5.57260061, 5.62903929, 5.55635799,
       5.74214523, 5.81224381, 5.95338388, 5.61897828, 5.72554661,
       5.49962338, 5.65793612, 5.58791814, 5.64169685, 5.64728108,
       5.4951867 , 5.69661304, 5.93689037, 5.68818969, 5.75044175,
       5.92863946, 5.6056382 , 5.5878798 , 5.88217666, 5.76099446,
       5.62170006, 5.47445899, 5.1652745 , 5.69862723, 5.43299469,
       5.77126013, 5.60414079, 5.4411972 , 5.767101  , 5.58569317,
       5.5877107 , 5.50007339, 5.63171763, 5.70926424, 5.81017788,
       5.7135949 , 5.50527103, 5.60752337, 5.68478874, 5.88749499,
       5.70348389, 5.82682882, 5.81241626, 5.29862533, 5.12618095,
       5.53797377, 5.47388828, 5.50660604, 5.67067211, 4.64529654,
       5.72197656, 5.89840426, 5.0266893 , 5.64012932, 5.85726315,
       5.68904131, 5.58834483, 5.74861168, 5.86114414, 5.65237026,
       5.71545893, 5.68769128, 5.8210421 , 5.25458502, 5.44103146,
       5.51042362, 5.58145561, 5.79980375, 5.58794321, 5.82330717,
       5.69171133, 5.64728108, 5.28618439, 5.68491892, 5.24083327,
       5.84415557, 5.6593379 , 5.81817295, 5.31901819, 5.87141593,
       5.90332099, 5.92708695, 5.31203218, 5.59594659, 5.34443899,
       5.7901394 , 5.87581617, 5.7886019 , 5.39577961, 5.54830257,
       5.75771421, 5.44115215, 5.76195177, 5.78573275, 5.79707366,
       5.8759583 , 5.14819527, 5.73371909, 5.55600695, 5.85684652,
       5.82218965, 5.89748923, 5.59083074, 5.66543556, 5.80126282,
       5.69101044, 5.72881738, 5.51186096, 5.54294778, 5.62281758,
       5.7685178 , 5.67393122, 5.70705059, 5.51177365, 5.70873211,
       5.72464324, 5.50997361, 5.64970023, 5.29635842, 5.63057343,
       5.60341818, 5.82877623, 5.7306024 , 5.75301498, 5.64990271,
       5.68728967, 5.4950176 , 5.82239213, 5.34233414, 5.64486193,
       5.66748035, 5.44071381, 5.47974059, 5.59374159, 5.46322989,
       5.79584711, 5.70014636, 5.64594607, 5.47239919, 5.77824279,
       5.30330954, 5.87749244, 5.98597481, 5.62638427, 5.58223158,
       5.91217934, 5.70081051, 5.5520904 , 5.66817789, 5.65905699,
       5.89722946, 5.78573275, 5.58192064, 5.73086495, 5.67821382,
       5.63614265, 5.54920288, 5.80707956, 5.48350424, 5.65920437])

In [39]:
rmse = np.sqrt( mean_squared_error( y_test, pred ) )
mae = mean_absolute_error( y_test, pred )
r2 = r2_score( y_test, pred )

In [40]:
print( 'RMSE: {}'.format( rmse ) )
print( 'MAE: {}'.format( mae ) )
print( 'R2: {}'.format( r2 ) )

RMSE: 0.7958232790231705
MAE: 0.6414010831781782
R2: 0.09484014765718418

In [45]:
# saved trained model
pickle.dump( model, open( '/Users/santo/repos/Deploy/model_wine_quality.pkl', 'wb' ) )