# 0.0. Imports

In [38]:
import requests
import pandas as pd
import numpy  as np
import pickle
#from sklearn import model_selection as ms
from sklearn.model_selection import train_test_split
from sklearn.linear_model    import ElasticNet
from sklearn.metrics         import mean_squared_error, mean_absolute_error, r2_score

# 0.1. Loading Data

In [3]:
csv_url = 'dataset/winequality-red.csv';
df_raw = pd.read_csv( csv_url, sep=';' )
df_raw.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [4]:
df_raw['quality'].drop_duplicates().sort_values()

459    3
18     4
0      5
3      6
7      7
267    8
Name: quality, dtype: int64

# 1.0. Data Preparation

In [5]:
df1 = df_raw.copy()

In [6]:
train, test = train_test_split( df1 ) # 75% train e 25% test

In [7]:
train.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
528,8.2,0.42,0.49,2.6,0.084,32.0,55.0,0.99880,3.34,0.75,8.700000,6
1399,7.2,0.67,0.00,2.2,0.068,10.0,24.0,0.99560,3.42,0.72,11.100000,6
1434,10.2,0.54,0.37,15.4,0.214,55.0,95.0,1.00369,3.18,0.77,9.000000,6
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.800000,6
1475,5.3,0.47,0.11,2.2,0.048,16.0,89.0,0.99182,3.54,0.88,13.566667,7

In [8]:
test.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
543,11.2,0.66,0.24,2.5,0.085,16.0,53.0,0.99930,3.06,0.72,11.0,6
875,8.8,0.31,0.40,2.8,0.109,7.0,16.0,0.99614,3.31,0.79,11.8,7
1120,7.9,0.54,0.34,2.5,0.076,8.0,17.0,0.99235,3.20,0.72,13.1,8
82,7.4,0.50,0.47,2.0,0.086,21.0,73.0,0.99700,3.36,0.57,9.1,5
1263,8.2,0.78,0.00,2.2,0.089,13.0,26.0,0.99780,3.37,0.46,9.6,4

In [9]:
# train and test dataset
x_train = train.drop( 'quality', axis=1 )
y_train = train['quality']

x_test = test.drop( 'quality', axis=1 )
y_test = test['quality']

In [10]:
x_train.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
528,8.2,0.42,0.49,2.6,0.084,32.0,55.0,0.99880,3.34,0.75,8.700000
1399,7.2,0.67,0.00,2.2,0.068,10.0,24.0,0.99560,3.42,0.72,11.100000
1434,10.2,0.54,0.37,15.4,0.214,55.0,95.0,1.00369,3.18,0.77,9.000000
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.800000
1475,5.3,0.47,0.11,2.2,0.048,16.0,89.0,0.99182,3.54,0.88,13.566667

In [11]:
y_train.head()

528     6
1399    6
1434    6
3       6
1475    7
Name: quality, dtype: int64

In [12]:
x_test.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
543,11.2,0.66,0.24,2.5,0.085,16.0,53.0,0.99930,3.06,0.72,11.0
875,8.8,0.31,0.40,2.8,0.109,7.0,16.0,0.99614,3.31,0.79,11.8
1120,7.9,0.54,0.34,2.5,0.076,8.0,17.0,0.99235,3.20,0.72,13.1
82,7.4,0.50,0.47,2.0,0.086,21.0,73.0,0.99700,3.36,0.57,9.1
1263,8.2,0.78,0.00,2.2,0.089,13.0,26.0,0.99780,3.37,0.46,9.6

In [13]:
y_test.head()

543     6
875     7
1120    8
82      5
1263    4
Name: quality, dtype: int64

# 2.0. ML Modelling

In [14]:
# model definition
model = ElasticNet( alpha=0.5, l1_ratio=0.5, random_state=42)

In [15]:
# training
model.fit( x_train, y_train )

ElasticNet(alpha=0.5, random_state=42)

In [16]:
# prediction
pred = model.predict( x_test )

In [17]:
pred

array([5.6548856 , 5.85307638, 5.96890236, 5.41666612, 5.63437075,
       5.37973464, 5.52396989, 5.60048705, 5.65728535, 5.74183658,
       5.56020414, 5.58030054, 5.77848916, 5.75993121, 5.59578608,
       5.71114429, 5.54865241, 5.71503527, 5.8576625 , 5.62875906,
       5.72194935, 5.77523006, 5.75024394, 5.70755907, 5.39785173,
       5.86194724, 5.86471821, 5.72641851, 5.43457405, 5.62303041,
       5.38762924, 5.50480685, 5.70420553, 5.54509187, 5.85309891,
       5.61657978, 5.64096087, 5.19467687, 5.61956014, 5.79534898,
       5.40700377, 5.45732453, 5.70190016, 5.66401489, 5.34531781,
       5.5465562 , 5.49348898, 5.41792345, 5.81793746, 5.67872913,
       5.49490826, 5.6691364 , 5.69030554, 5.80138123, 5.65847293,
       5.42640055, 5.63509279, 5.85379837, 5.62268176, 5.25519771,
       5.90679801, 5.65728535, 5.60200286, 5.63078553, 5.62254018,
       5.90186108, 5.54679006, 5.62829346, 5.66753043, 5.56758592,
       5.64305497, 5.65230121, 5.72027147, 5.69298214, 5.43568974,
       5.72346305, 5.7054178 , 5.55433601, 5.40998386, 5.45585366,
       5.8599454 , 5.73431316, 5.43275681, 5.64133204, 5.7435144 ,
       5.52001133, 5.69742889, 5.57335962, 5.55191368, 5.5875161 ,
       5.21489022, 5.7461459 , 5.75853224, 5.59191979, 5.62572733,
       5.6196994 , 5.29487992, 5.57743508, 5.63378825, 5.56714284,
       5.68464447, 5.82084792, 5.46831623, 5.69237712, 5.48212395,
       5.63253093, 5.69181714, 5.9021153 , 5.7754618 , 5.21218893,
       5.83118737, 5.84760412, 5.68981531, 5.6294113 , 5.46351662,
       5.46971298, 5.61420256, 5.7754618 , 5.55084299, 5.84443728,
       5.73580645, 5.86157606, 5.98497046, 5.23151614, 5.84809008,
       5.51074251, 5.81460651, 5.67959275, 5.72194935, 5.64123977,
       5.81577151, 5.66496862, 5.87172882, 5.6787785 , 5.52569276,
       5.76980289, 5.39608165, 5.74309385, 5.53414523, 5.67507422,
       5.64666699, 5.57967077, 5.40183282, 5.33113664, 5.2314464 ,
       5.6526048 , 5.8349796 , 5.54113325, 5.82271032, 5.57734287,
       5.60048705, 5.73168377, 5.85439216, 5.62650085, 5.66133623,
       5.94878138, 5.67337603, 5.43541299, 5.41661897, 5.63628032,
       5.79865536, 5.62221616, 5.80319637, 5.69354212, 5.73433995,
       5.70502194, 5.81532843, 5.43275681, 5.56730701, 5.88206827,
       5.58642499, 5.52897656, 5.90039459, 5.82967366, 5.53056   ,
       5.56774571, 5.64577873, 5.6631041 , 5.17069164, 5.58644752,
       5.61364475, 5.54795511, 5.47395045, 5.81861017, 5.68385491,
       5.85379837, 5.78063258, 5.63353182, 5.34755344, 5.69363439,
       5.90251332, 5.79737556, 5.36876542, 5.20997577, 5.85051457,
       5.85666161, 5.62037634, 5.61231762, 5.81935679, 5.37572886,
       5.63739817, 5.50629366, 5.6025832 , 5.65109115, 5.79350916,
       5.50296276, 5.68010557, 5.56572146, 5.86404345, 5.67963997,
       5.45560166, 5.55619836, 5.8439942 , 5.61955776, 5.80792413,
       5.89436235, 5.56080922, 5.70618484, 5.58970663, 5.69484228,
       5.78780309, 5.51852015, 5.94990127, 5.70131976, 5.44454017,
       5.76645152, 5.53845454, 5.55494103, 5.29501935, 5.42584057,
       5.66655201, 5.82359637, 5.47399766, 5.40569917, 5.81201995,
       5.8209874 , 5.61809133, 5.71722375, 5.82142826, 5.27049667,
       5.819404  , 5.78813132, 5.76111874, 5.60659114, 5.39163285,
       5.95937715, 5.57172901, 5.58202336, 5.5609937 , 5.63971181,
       5.74558592, 5.84813946, 5.57967077, 5.59084916, 5.77700014,
       5.57207988, 5.6912818 , 5.15751147, 5.3920984 , 5.21521635,
       5.70825852, 5.43853261, 5.83151349, 5.76332752, 5.46819927,
       5.57103172, 5.90570053, 5.52536664, 5.49772429, 5.44104721,
       5.54455437, 5.60996714, 5.56786488, 5.74833437, 5.6294113 ,
       5.57361605, 5.62466102, 5.5461625 , 5.52718178, 5.74164989,
       5.4036727 , 5.6687877 , 5.59117528, 5.79525672, 5.58544663,
       5.70138956, 5.7226488 , 5.70914251, 5.70825852, 5.64117009,
       5.65188282, 5.82196576, 5.67838264, 5.75615923, 5.63588446,
       5.82632018, 5.64587527, 5.30323801, 5.625383  , 5.8362863 ,
       5.7279569 , 5.60614806, 5.55649979, 5.43289186, 5.6264311 ,
       5.58367654, 5.53703316, 5.47029548, 5.74225708, 5.68131563,
       5.55971163, 5.69901228, 5.7229524 , 5.75557673, 5.58656447,
       5.85808305, 5.77422917, 5.7016213 , 5.31141141, 5.61713976,
       5.5609937 , 5.66559617, 5.33317915, 5.38974797, 5.72125205,
       5.24094691, 5.77986339, 5.55349707, 5.71913332, 5.67600753,
       5.82650682, 5.85051457, 5.85454288, 5.82722881, 5.70469582,
       5.69235453, 5.60503022, 5.5386729 , 5.27459466, 5.62703624,
       5.58144085, 5.62906049, 5.6402861 , 5.67635617, 5.55123891,
       5.25102999, 5.78312465, 5.5375234 , 5.89063764, 5.55377609,
       5.6488533 , 5.53186449, 5.59869654, 5.6170207 , 5.57394212,
       5.36231706, 5.66133623, 5.58288266, 5.73862464, 5.92626469,
       5.33255591, 5.73964805, 5.72257906, 5.64799189, 5.97097393,
       5.38804762, 5.6787785 , 5.70276373, 5.78025925, 5.55922577,
       5.79572232, 5.76561264, 5.66117417, 5.20885793, 5.74693762,
       5.95774865, 5.63283458, 5.65211473, 5.51905549, 5.80494393,
       5.76910555, 5.84152682, 5.60924516, 5.41361624, 5.83626377,
       5.32827123, 5.51148918, 5.28318871, 5.20762534, 5.35318766,
       5.58663421, 5.70206433, 5.85098018, 5.69144591, 5.61001436,
       5.61313187, 5.48652559, 5.67023166, 5.15494966, 5.78105097])

In [18]:
rmse = np.sqrt( mean_squared_error( y_test, pred ) )
mae = mean_absolute_error( y_test, pred )
r2 = r2_score( y_test, pred )

In [19]:
print( 'RMSE: {}'.format( rmse ) )
print( 'MAE: {}'.format( mae ) )
print( 'R2: {}'.format( r2 ) )

RMSE: 0.7413720233084669
MAE: 0.6056776660758526
R2: 0.14353279335483993

In [20]:
# saved trained model
pickle.dump( model, open( '/Users/santo/repos/Deploy/model_wine_quality.pkl', 'wb' ) )

# 3.0. Prediction

In [24]:
df1.sample()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
1227,9.0,0.58,0.25,2.0,0.104,8.0,21.0,0.99769,3.27,0.72,9.6,5

In [28]:
df = df1.drop( 'quality', axis=1).sample()

In [29]:
df

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
1545,6.5,0.63,0.33,1.8,0.059,16.0,28.0,0.99531,3.36,0.64,10.1

In [31]:
df_json = df.to_json( orient='records' )

In [32]:
df_json

'[{"fixed acidity":6.5,"volatile acidity":0.63,"citric acid":0.33,"residual sugar":1.8,"chlorides":0.059,"free sulfur dioxide":16.0,"total sulfur dioxide":28.0,"density":0.99531,"pH":3.36,"sulphates":0.64,"alcohol":10.1}]'

In [ ]:
url = 'http:///0.0.0.0:5000/predict'
data = df_json
header = {'Content-type': 'application/json'}
# Request
r = requests.post( url=url, data=data, headers=header )

In [ ]:
r.status_code

In [ ]:
pd.DataFrame( r.json(), columns=r.json()[0].keys() )